body {
  margin: 0;
  font-family: Poppins;
  
}

.topnav {
  overflow: hidden;
  background-color: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
  padding-left: 40px;
}

.topnav a {
  margin-top: 7px;
  margin-right: 20px;
  float: right;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family:Poppins;
  font-style: normal;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration:none;
}

.topnav a:hover {
  background-color: rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
  color: black;
}

#ven_text {	
    float: left;
    color:rgba(255, 255, 255, 1);
    font-family:Comfortaa;
    font-style: normal;
    font-weight: bold;
    text-align:center;
    font-size:35px;
    letter-spacing:0;
    margin-top: 10px;
    text-shadow: 1px 1px 3px black;
    
}

#s {
  margin-top: 2px;
  margin-right: 16px;
  float: left;
  display:block;
  margin: 0 0 0 auto;
  width: 250px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid gray;
  border: none;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  font-size: 17px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  outline: none;
  cursor:pointer;
}

#search-icon {
  margin-top: 10px;
  margin-right: 14px;
  width: 300px;
  height:45px;
  border-radius: 20px;
  font-size: 16px;
  float: right;
  display:flex;
  flex-direction:row;
  padding:2px;
  cursor:pointer;
}

button {
  border-radius: 20px;
  background-color: white;
  border:none;
  color:black;
  padding: 3px 20px 5px 5px;
  outline: none;
}

#search-button {
  height:39px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  
}

#cart-button {
  float:right;
    margin-top: 11px;
  margin-right: 25px;
  
    padding: 3px 6px 5px 5px; 
    width:55px;
    height:40px;
    font-size: 20px;
    background-size:cover;
  }
  /* topnav ends here */
  .sidenav { 
    background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
    opacity:1;
    width:190px;
    height:310px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    padding: 50px 0px;
    float: left;
    
}
.sidenav a {
    text-decoration: none;
    padding: 8px 20px;
    color:white;
    font-weight: 600;
}

.sidenav a:hover {
    background-color: white;
    color: black;
}

.sidenav a.active{
  background-color: white;
    color: black;
}

hr{ 
    margin:0;
    width:100%;
    border-top: 2px solid white;
}
#welcome {

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: undefined;
  color: #000000;
  margin: 20px 30px;
  text-align: left;

}

/* page code */

p{  margin:0px;
  padding: 20px 40px 0px 40px;
  font-size:18px;

}
p span{
  color: rgb(100, 100, 100);
  font-size:16px;
}
.align-right{
  display: inline-block;
  align-items: right;
  margin-right:50px;
  overflow:wrap;
  padding-left: 50px;

}   

h1{
  margin:0;
  text-align: center;
  padding: 0px 0px 30px 0px;
  font-family: Comfortaa;
  font-size:32px;
}


.grid{  
      
  display: grid;
  grid-template-columns: 150px 350px;
  grid-gap: 10px 10px;
}

.entry{
  background-color: white;
  height: 30px;
  border: none;
  border-radius: 30px;
  background: #EDEDED;
  font-family: Poppins;
  font-size: 16px; 
  padding-left: 15px;

}

input,select:focus {outline:none;}

#a{ width: 350px; }

#b,#d{width: 130px; }

#c,#e{width: 200px; }

::-webkit-file-upload-button {
  font-family: Poppins;
  background: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
  color: white; 
  box-shadow: 1px 1px 2px grey;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  margin: 3px 10px 3px 0px;
  outline: none;
}


#submit,#cancel{
  font-family: Poppins;
  font-size:16px; 
  font-weight: bold;
  margin: 0px 5px;
  padding: 5px 30px;
  box-shadow: 2px 2px 5px grey;
  color:white;
  background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
  
  
}
#btbox{
  margin-top:10px;
  overflow:wrap;
  float: right;

}

