  body 
  {
    margin: 0;
    font-family: Poppins;
  }
  
  .topnav
  {
    overflow: hidden;
    background-color: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
    padding-left: 40px;
  }
  
  .topnav a 
  {
    margin-top: 7px;
    margin-right: 20px;
    float: right;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover 
  {
    background-color: rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
    color: black;
  }

  .topnav #active{
    color: black;
  }
  
  #ven_text 
  {	
      float: left;
      color:rgba(255, 255, 255, 1);
      font-family:Comfortaa;
      font-style: normal;
      font-weight: bold;
      text-align:center;
      font-size:35px;
      letter-spacing:0;
      margin-top: 10px;
      text-shadow: 1px 1px 3px black;
      
  }
  
  input[type=text]
  {
    margin-top: 2px;
    margin-right: 16px;
    float: left;
    display:block;
    margin: 0 0 0 auto;
    width: 250px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid gray;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    font-size: 17px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    outline: none;
    cursor:pointer;
  }
  
  #search-icon 
  {
    margin-top: 10px;
    margin-right: 14px;
    width: 300px;
    height:45px;
    border-radius: 20px;
    font-size: 16px;
    float: right;
    display:flex;
    flex-direction:row;
    padding:2px;
    cursor:pointer;
  }
  
  button 
  {
    border-radius: 20px;
    background-color: white;
    border:none;
    color:black;
    padding: 3px 20px 5px 5px;
    outline: none;
  }
  
  #search-button
  {
    height:39px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    
  }
  
  #cart-button 
  {
    float:right;
      margin-top: 11px;
    margin-right: 25px;
    opacity:1;
      padding: 3px 6px 5px 5px; 
      width:55px;
      height:40px;
      font-size: 20px;
      background-size:cover;
  }
    

  .sidenav 
  { 
        background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
        opacity:1;
        width:190px;
        height:310px;
        border-radius:15px;
        display: flex;
        flex-direction: column;
        margin: 10px 40px;
        padding: 50px 0px;
        float: left;
        
  }
  .sidenav a 
  {
        text-decoration: none;
        padding: 8px 20px;
        color:white;
        font-weight: 600;
  }

  .sidenav a:hover 
  {
        background-color: white;
        color: black;
  }
  hr{ 
        margin:0;
        width:100%;
        border-top: 2px solid white;
  }
  .myslides img{
      
      height:16.5em;
       
       }
  .myslides 

  {     border-radius: 40px;
        object-fit: cover;
        overflow: hidden;
        margin: 20px 50px;
  }
  .mySlide{
     display: none;
  }
  .mySlide:first-child {
    display: block;
 }

  p{
        text-align: center;
        padding: 25px 80px;
        margin:0;
        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #377646;
  }
       
  h3
  {  width:100%;
    text-align: center;
    margin:0;
    font-family: Comfortaa;
    text-shadow:2px 2px 5px grey;
    font-weight: 900;
    font-size: 30px;
    line-height: 54px;
    color: #000000;
    
  }   
  .div-image
  {
    width: 200px;
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;

    
  }
  .box{
    padding:10px;
    /* max-width: ; */
    
    
  
  }


  .box img
  {
    border-radius: 40px 40px 0px 0px;  
    max-height: 10em;
    transition: 0.7s; 
   
   
  }

  .box img:hover
  {
    /* border-radius: 55px 55px 65px 65px;  */
    max-height: 10em;
    transform: scale(1.2);
  }
  .btn button
  { 
    position: absolute;
    width: 200px;
    height: 45px;
    margin-top: -10px;
    border-radius: 0px 0px 40px 40px;
    cursor: pointer;
    background-color: black;
    color: #FFFFFF;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
    padding:0px;
       
   }                   
  
  .division
  {
    display: grid;
    grid-template-columns: repeat(auto-fill,215px); 
    grid-gap: 50px 60px;
    padding: 25px 100px;
    box-align: center
  }    
  
  #bottom{
    background-color: black;
    color:white;
    padding:10px 40px;

  }

  #bottom #title{font-family: comfortaa;
    font-size:20px;
 }
  #bottom a{
    color:white;
    padding: 0px 20px;
    text-decoration: none;
}
#bottom .item{
  background-color: rgb(56, 204, 78);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color:black;
  }

.farmer-only{
    /* visibility : hidden; */
    display:none;
  }
  /* for header.php */
#logout-btn{   
	margin:5px 0px 5px 15px;
    background-color:rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
    color:#ffffff;
    width: 70px;
    height:30px;
	font-size: 15px;
	font-weight:bold;
	border-radius: 15px;
	padding: 0px 10px;
    box-shadow: 1px 1px 3px grey;
	}
	#log-div{
		padding: 0px 25px;
		box-shadow: 1px 1px 5px grey;
		text-align: right;
	}

 