
body {
    margin: 0;
    font-family: Poppins;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
    padding-left: 40px;
  }
  
  .topnav a {
    margin-top: 7px;
    margin-right: 20px;
    float: right;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family:Poppins;
    font-style: normal;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:none;
  }
  
  .topnav a:hover {
    background-color: rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
    color: black;
  }
  
  #ven_text {	
      float: left;
      color:rgba(255, 255, 255, 1);
      font-family:Comfortaa;
      font-style: normal;
      font-weight: bold;
      text-align:center;
      font-size:35px;
      letter-spacing:0;
      margin-top: 10px;
      text-shadow: 1px 1px 3px black;
      
  }
  
  input[type=text] {
    margin-top: 2px;
    margin-right: 16px;
    float: left;
    display:block;
    margin: 0 0 0 auto;
    width: 250px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid gray;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    font-size: 17px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    outline: none;
    cursor:pointer;
  }
  
  #search-icon {
    margin-top: 10px;
    margin-right: 14px;
    width: 300px;
    height:45px;
    border-radius: 20px;
    font-size: 16px;
    float: right;
    display:flex;
    flex-direction:row;
    padding:2px;
  }
  
  button {
    border-radius: 20px;
    background-color: white;
    border:none;
    color:black;
    padding: 3px 20px 5px 5px;
    outline: none;
  }
  
  #search-button {
    height:39px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
  }
  
  #cart-button {
    float:right;
      margin-top: 11px;
    margin-right: 25px;
    opacity:1;
      padding: 3px 6px 5px 5px; 
      width:55px;
      height:40px;
      font-size: 20px;
      background-size:cover;
    }
    /* topnav ends here */

  .sidenav { 
        background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
        opacity:1;
        width:190px;
        height:310px;
        border-radius:15px;
        display: flex;
        flex-direction: column;
        margin: 10px 40px;
        padding: 50px 0px;
        float: left;
        
    }
    .sidenav a {
        text-decoration: none;
        padding: 8px 20px;
        color:white;
        font-weight: 600;
    }

    .sidenav a:hover {
        background-color: white;
        color: black;
    }

    .sidenav a.active{
      background-color: white;
        color: black;
    }

    hr{ 
        margin:0;
        width:100%;
        border-top: 2px solid white;
    }

    .banner{
        background-color: grey;
        margin:25px 40px;
        border-radius: 15px;
        height:120px;
        object-fit: contain;
        overflow: hidden;
    }




    h1{
        margin:0;
        text-align: center;
        padding: 20px;
        font-family: Comfortaa;
        font-size:32px;
    }

    section{
      

    }

    .card{
        box-shadow: 2px 2px 10px grey;
        border-radius: 10px;
        background-color: #F4F4F4;
        padding: 10px;
    }
    .card img{
         max-width: 12em; 
         transition: 0.7s;
       
    }
    .card-image{
        /* display:inline block; */
         overflow: hidden;
    }

    .card:hover img{
     transform:scale(1.2)
    }
   
    .card-text .unit{
        float: right;
        font-size: 12px;
        color: #646464;
    }
    .card-text .farm{
        font-size: 14px;
        color: #646464;
    }
  
    .card-add{
        padding:0;
        float: right;
        margin-top: -20;
    }
    .card .add-button{
        padding: 10px 15px;
        box-shadow: 2px 2px 5px grey;
        color:white;
        background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
    }

    .card .add-button:hover{
        background-color: rgb(131, 175, 43);
        box-shadow: 3px 3px 5px grey;

    }

    .product-container{  
      
        display: grid;
        grid-template-columns: repeat(auto-fill,215px);
        grid-gap: 25px 25px;
    }
