


body {
	
	  margin: 0;
	  font-family:Poppins;
  
}

.topnav {
  
	  overflow: hidden;
	  background-color: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
	  padding-left: 40px;
	  padding-top: 6px;
    
}

.topnav a {
	
	  margin-top: 7px;
	  margin-right: 20px;
	  float: right;
	  color: rgba(255, 255, 255, 1);
	  text-align: center;
	  font-style: normal;
	  font-weight: bold;
	  padding: 14px 16px;
	  font-size: 17px;
	  text-decoration:none;

}

.topnav a:hover {
	
	  background-color: rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
	  color: black;
	  text-decoration:none;

}

#ven_text {
	
		float: left;
		color:rgba(255, 255, 255, 1);
		font-family:Comfortaa;
		font-style: normal;
		font-weight: bold;
		text-align:center;
		text-shadow:1px 1px 3px black;
		font-size:35px;
		letter-spacing:0;
		margin-top: 10px;

}

input[type=text] {

		margin-top: 2px;
		margin-right: 16px;
		float: left;
		display:block;
		margin: 0 0 0 auto;
		width: 250px;
		height: 39px;
		box-sizing: border-box;
		border: 2px solid gray;
		border: none;
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
		font-size: 17px;
		background-color: white;
		padding: 12px 20px 12px 40px;
		outline: none;
		cursor:pointer;

}


#search_icon {
	
		margin-top: 10px;
		margin-right: 14px;
		width: 300px;
		height:45px;
		border-radius: 20px;
		font-size: 16px;
		float: right;
		display:flex;
		flex-direction:row;
		padding:2px;

}

button {

	  border-top-right-radius:20px;
	  border-bottom-right-radius:20px;
	  background-color: white;
	  border:none;
	  color:black;
	  padding: 3px 20px 5px 5px;
	  height:39px;
	  outline: none;

}

#cart_button {
	
		float:right;
		margin-top: 11px;
		margin-right: 25px;
		opacity:1;
		padding: 3px 6px 5px 5px; 
		width:55px;
		height:40px;
		border-radius: 20px;
		font-size: 20px;
		background-size:cover;
	
}

p{  margin:0px;
	padding: 20px 40px 0px 40px;
	font-size:18px;

}
p span{
	color: rgb(100, 100, 100);
	font-size:16px;
}
	
#stock_view {
	
		padding: 20px 10px 0px 10px;
		font-family:Comfortaa;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		font-size:30px;
		letter-spacing:0;

}

.alignleft {
		
		float: left;
		
}



.styled-table {

	margin: 0px 0px 12px 0px;
		border-collapse: separate;
		border-spacing: 0 0.5em;
		background-color: white;

}

.styled-table thead tr {

		background-color: white;
		color: black;
		text-align: left;
		font-size:24px;

}

.styled-table th {
	font-size:18px;
        text-align: left;
		font-weight: normal;
}

.styled-table th,
.styled-table td {
	
		padding: 12px 15px;
	
}

.styled-table tbody tr {
	
		background-color: #F4F4F4;
		opacity:1;
		text-align: left;
	
}

.styled-table td:first-child {
    
		border-top-left-radius: 15px; 
		border-bottom-left-radius: 15px;

}

.styled-table td:last-child {
	
		border-bottom-right-radius: 15px; 
		border-top-right-radius: 15px; 

}

#item_image {
	
		opacity:1;
		width:144px;
		height:100px;
		border-radius: 20px;
		background-size:cover;

}

#farm_name {
	
		color:rgba(88.18749949336052, 88.18749949336052, 88.18749949336052, 1);
		opacity:1;
		letter-spacing:0;
		line-height:undefined;

}

#remove_button { 

		font-size:30px;
		background-color: #F4F4F4;

}

.container {
  
	    padding: 0px 14px 14px 20px;
	    border: none;
	    display:inline-block;

}

 #side_nav {
	 
		
		background-color:rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
        opacity:1;
        width:200px;
        height:330px;
        border-radius:15px;
        display: flex;
        flex-direction: column;
		font-size: 15px;
        margin: 10px 30px;
        padding: 35px 0px;

}

.sidenav a:hover {
    background-color: white;
    color: black;
}

.sidenav a.active{
	background-color: white;
	  color: black;
  }

.alignleft a {
	
		text-decoration: none;
        padding: 8px 20px;
        color:white;
        font-weight: 600;
	
}
	
.alignleft a:hover {
	
	    background-color: white;
        color: black;
	  
}

.alignleft a.active {
	
	    background-color: #FFFFFF;
	    color: black;
	  
}

hr{ 
        margin:0;
        width:100%;
        border-top: 1px solid white;
    
}


#add_product_button {
		font-family: Poppins; 
		box-shadow:2px 2px 5px grey;
		background-color: rgba(96.00000187754631, 140.00000685453415, 106.00000128149986, 1);
		border-radius: 20px;
		padding: 10px 20px;
		float: right;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size:15px;
}


  /* for header.php */
  #logout-btn{   
	margin:5px 0px 5px 15px;
    background-color:rgba(98.00000187754631, 150.00000685453415, 106.00000128149986, 1);
    color:#ffffff;
    width: 70px;
    height:30px;
	font-size: 15px;
	font-weight:bold;
	border-radius: 15px;
	padding: 0px 10px;
    box-shadow: 1px 1px 3px grey;
	}
	#log-div{
		padding: 0px 25px;
		box-shadow: 1px 1px 5px grey;
		text-align: right;
	}