<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="../static/css/add-product.css">
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
<script type="text/javascript" language="javascript">

  function getQueryString(string) {
  var params = location.search.substring(1).split("&");
  for (var i = 0; i < params.length; i++) {
      var temp = params[i].split("=");            
      if (string == temp[0]) {
          words=temp[1].split("-");
          status=words.join(" ");
          return status;
      }
      else return "";
  }
  }
  function grab(){
    document.getElementById("toast").innerHTML= getQueryString("toast");
      // document.getElementById("toast").innerHTML= getQueryString("toast");
  }

  function check(){
    var uploadField = document.getElementById('f'); 
    var filePath = uploadField.value; 
    var allowedExtensions =  /(\.jpg|\.jpeg|\.png|\.gif)$/i; 

    if(uploadField.files[0].size > 2200000){
      alert("File is too big, please limit file size to 2 MB");
      uploadField.value = null;
    }

    if (!allowedExtensions.exec(filePath)) { 
      alert('Invalid file type'); 
      uploadField.value = null; 
      return false; 
    }
  
  }


</script>

<body onload="grab()">

  <div class="topnav">
    <span id="ven_text">Vendakka</span>
    <form action="../templates/shopping-cart.html">
      <button id="cart-button" type="submit"><i class="fa fa-shopping-cart"></i></button>
    </form>
    <form id="search-icon" action="../templates/search.html">
      <input type="text" name="query-string" id="s" placeholder="Search" />
      <button id="search-button" action="/action_page.php" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <a href="../templates/login.html">Login</a>
    <a href="../templates/registration.html">Register</a>
    <a href="../templates/home-page.html">Home</a>
  </div>
  <?php require ('../php/header.php'); ?>

  <p id="greeting"></p>

      <div class="sidenav">
        <hr>
        <a class="list" href="../templates/listing-page.html?#Vegetable">Vegetables</a><hr>
        <a class="list" href="../templates/listing-page.html?#Fruit">Fruits</a><hr>
        <a class="list" href="../templates/listing-page.html?#Dairy">Dairy</a><hr>
        <a class="list" href="../templates/listing-page.html?#Other">Other Products</a><hr>
        <a class="active" href="../templates/add-product.html">Add Product</a><hr>
        <a href="../templates/stock-page.html">My Stock</a><hr>
        <a href="../templates/orders-page.html">Orders</a><hr>
      </div>

      

      <div class="align-right">
        <h1>Add Product</h1>
      <form id="add-form" action="../php/add-product.php" method="POST" enctype="multipart/form-data">

          <div class="grid">
       
          
          <span  class="title">Product Name : </span>
          <input  name="product-name" id="a" type="text" class="entry" required>
       
          <span  class="title">Image : </span>
          <input id ="f" type="file" name="file-name" onchange="check()" data-max-size="2048" required>
        
          <span class="title">Category :     </span>
          <select name="category" id="b" type="enum" class="entry">
            <option>Vegetable</option>
            <option>Fruit</option>
            <option>Dairy</option>
            <option>Other</option>
          </select>
     

  
          <span class="title" value="Quantity">Quantity :     </span>
          <input name="quantity" id="c" type="number" class="entry" min="1" required>
   

     
          <span class="title">Unit : </span>
          <select name="unit" id="d" type="enum" value="Unit :" class="entry" required>
            <option>Kg</option>
            <option>g</option>
            <option>L</option>
            <option>Bunch</option>
            <option>Nos</option>
            <option>Pack</option>
          </select>
  

  
          <span class="title">Cost Per Unit(₹) :</span>
          <input  name="cost" id="e" type="number" class="entry" name="cost" min="1" plceholder="Price in Rupees" required>
  
        <div></div>
        <div class="box" id="btbox">
                <button id="submit" type="submit" onclick="toast()">Confirm</button>
                <button id="cancel" type="reset">Cancel</button>
        </div>
        <div></div>
        <div id="toast" ></div>
      </div>
    </form>

  </div>
   
      
     
<script>
      // $(document).ready(function () {
        var name = "<?php echo $_SESSION['username']; ?>".toString();
        var farm = "<?php echo $_SESSION['farm_name']; ?>".toString();
        document.getElementById("greeting").innerHTML="Welcome Farmer, "+name+" <br><span>"+farm+"</span>";

      // });

</script>
</body>

</html>