<?php session_start(); ?>
<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/login.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
<body onload="grab()">
<script type="text/javascript" language="javascript">

    function getQueryString(string) {
    var params = location.search.substring(1).split("&");
    for (var i = 0; i < params.length; i++) {
        var temp = params[i].split("=");            
        if (string == temp[0]) {
            words=temp[1].split("-");
            status=words.join(" ");
            return status;
        }
        else return "";
    }
    }
    function grab(){
        document.getElementById("toast").innerHTML= getQueryString("toast");
    }

    function help(){
        document.getElementById("toast").innerHTML= "Please contact Helpline No : 22 55";
    }
</script>
<div class="topnav">
  <span id="ven_text">Vendakka</span>
   <form action="../templates/shopping-cart.html"><button id="cart_button" type="submit" ><i class="fa fa-shopping-cart"></i></button></form>
    <form id="search_button"  action="../templates/search.html">
                <input id="search" name="query-string" type="text" placeholder="Search" />
        <button><i class="fa fa-search"></i></button>
    </form>
    <a id ="active" href="../templates/login.html">Login</a>
    <a href="../templates/registration.html">Register</a>
    <a href="../templates/home-page.html">Home</a>
  
</div>
<?php require ('../php/header.php'); ?>

    <div class="section-split">
          <div class="left">
        <h1>Login</h1>
        <p>Welcome back!</p>
        <hr>
        <a href="../templates/registration.html"><button class="Register" id="sub">Register</button></a>

           <div class="form-box">
              <form name="f" action="../php/user-login.php" method="POST" >
          <br><br>
                <div class="inputContainer">
                    <i class="fa fa-user icon  icn" ></i> 
                    <input type="text" name="username" required class="inp" placeholder="Username" id="user-o">
                    
                </div>

          
                <div class="inputContainer">
                   <i class="fa fa-lock icn" aria-hidden="true"></i>
                    <input type="password" name="password" id=""required class="inp" placeholder="Password" id="lock">
                   
                </div>
                <p onclick="help()" class="pass">Forgot Password?</p><br><br>


                <button type="submit" id="log" onclick="toast()">Login</button> 
            </form> 
            <div id="toast"></div>
            <div id="message"></div>
            </div>
    
          </div>

          <div class="right">
              <div class="img-banner">
              <img src="../static/images/logopic.png">
              </div>
        </div>

    </div>

    </body>

</html>