<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="../static/css/orders.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
  <script>
  function grab_data() { 
        $.ajax({
            method: 'GET',
            url:"../php/orders.php",
            dataType:'json',
            success: function(raw_responses) {
              // console.log(raw_responses);


            $.map(raw_responses,function(response,i){
              var items="";
              var qty="";
              var prices="";
              var total=0;

              for(var j=0;j<response.length;j++){
              items += response[j].product_name +'<br>';
              qty += response[j].quantity +' '+response[j].unit+'<br>';
              prices += '₹ '+response[j].price +'<br>';
              total += response[j].quantity * response[j].price;
              }
              // for(var k=0;k<response.length;k++){
              // items+= response[k].product_name +'<br>';
              // }
            $('tbody').append(
            '<tr><td>'+response[0].order_id+'</td>'+
              '<td>'+ response[0].username+ '</td>'+
              '<td>'+ items +'</td>'+
              '<td>'+ qty +'</td>'+
              '<td>'+ prices +'</td>'+
              '<td>₹ '+ total +'</td>'+
            '</tr>'
            );
         });
         
         }
        });

        }
  
  
  
  </script>
<body onload="grab_data()">
<div class="topnav">
  <span id="ven_text">Vendakka</span>
  <form action="../templates/shopping-cart.html">
    <button id="cart-button" type="submit" ><i class="fa fa-shopping-cart"></i></button>
  </form>
    <form id="search-icon" action="../templates/search.html">
      <input type="text" placeholder="Search" />
			<button id ="search-button" action="/action_page.php" type="submit" ><i class="fa fa-search"></i></button>
    </form>
    <a href="../templates/login.html">Login</a>
    <a href="../templates/registration.html">Register</a>
    <a href="../templates/home-page.html">Home</a>
</div>
<?php require ('../php/header.php'); ?>
<!-- orders page code begins -->
<p id="greeting"></p>

<div class="sidenav">
    <hr>
    <a href="../templates/listing-page.html">Vegetables</a><hr>
    <a href="">Fruits</a><hr>
    <a href="">Diary</a><hr>
    <a href="">Other Products</a><hr>
    <a href="../templates/add-product.html" class="farmer-only">Add Product</a><hr>
    <a href="../templates/stock-page.html" class="farmer-only">My Stock</a><hr>
    <a class="active" href="../templates/orders-page.html">Orders</a><hr>
</div>
<div class=body-container>
  
<div class= "button-container">
  <form action="../templates/stock-page.html"></form>
  <a href="../templates/stock-page.html" class="farmer-only"><button id="view-stock" action="../">View Stock</button></a>
  <a href="../templates/add-product.html" class="farmer-only"><button id="add-product" action="#stock">Add Product</button></a>

</div>
<h1>Orders</h1> 
<div  class="table-container">
  <table id="table1" class="styled-table" class="alignleft">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Customer</th>
        <th>Products</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
<script>

var name = "<?php echo $_SESSION['username']; ?>".toString();
var farm = "<?php echo $_SESSION['farm_name']; ?>".toString();
var type = "<?php echo $_SESSION['usertype']; ?>".toString();
type=type[0].toUpperCase()+type.slice(1); 
document.getElementById("greeting").innerHTML="Welcome "+type+", "+name+" <br><span>"+farm+"</span>";
if (type == "Farmer"){
//  $("a.farmer-only").show();
 x=document.getElementsByClassName("farmer-only");
 for(i=0;i<x.length;i++){
   x[i].style.display="inline-block";
 }
 }

</script>

</body>
</html