<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="../static/css/stock.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script>


$(document).ready(function(){
		$(document).on("click",".remove_button",function(){
			$(this).closest('tr').remove();
			var data = {id: this.id};
			$.ajax({
				url: 'http://localhost/Vendakka-local/php/stock-delete.php',
				type: 'POST',
				dataType: 'json',
				data:data,
				success: function (data) {
					console.log(data);
				}	
			})
		});
	});

function grab(){

	$.ajax({
				method: 'GET',
				url: '../php/stock-view.php',
				dataType: 'json',
			}).done(function (data) {
				console.log(data);
			$.map(data, function (post, i) {

		$('tbody').append('<tr>'+
			'<td>'+ post.stock_id +'</td>'+
			'<td>'+ '<img id="item_image" src='+post.product_image+' alt="item_image"></td>'+
			'<td>'+post.product_name +' <div id="farm_name">'+ post.farm_name + '</div></td>'+
			'<td>'+ post.stock_quantity +' '+post.unit +'</td>'+
			'<td>₹ '+post.price + '</td>'+
			'<td><button class="remove_button" id ="'+post.stock_id+'" ><i class="fa fa-minus-circle"></i></button></td>'+
		'</tr>');
		
		});
	});
}

</script>

<body onload="grab()">
<div class="topnav">
  <span id="ven_text">Vendakka</span>
   <form action="../templates/shopping-cart.html"><button id="cart_button" type="submit" ><i class="fa fa-shopping-cart"></i></button></form>
    <form id="search_icon" action="../templates/search.html">
                <input type="text" name="query-string"  placeholder="Search" />
				<button><i class="fa fa-search"></i></button>	
    </form>
	<a href="../templates/login.html">Login</a>
    <a href="../templates/registration.html">Register</a>
    <a href="../templates/home-page.html">Home</a>
  
</div>
<?php require ('../php/header.php'); ?>


<p id="greeting"></p>

<div id="side_nav" class="alignleft">
      <hr>
	  <a class="list" href="../templates/listing-page.html?#Vegetable">Vegetables</a><hr>
	  <a class="list" href="../templates/listing-page.html?#Fruit">Fruits</a><hr>
	  <a class="list" href="../templates/listing-page.html?#Dairy">Dairy</a><hr>
	  <a class="list" href="../templates/listing-page.html?#Other-product">Other Products</a><hr>
	  <a href="../templates/add-product.html">Add Product</a><hr>
	  <a class="active" href="../templates/stock-page.html">My Stock</a><hr>
	  <a href="../templates/orders-page.html">Orders</a>
	  <hr>
</div>

<div  class="container">
<a href="../templates/add-product.html"><button id="add_product_button" >Add Product</button></a> 
<h1 id="stock_view">My Stock</h1>

<table  class="styled-table" class="alignleft">
    <thead>
        <tr>
            <th>Stock Id</th>
			<th>Product</th>
			<th></th>
            <th>Quantity</th>
			<th>Price</th>
			<th></th>
			
        </tr>
    </thead>
    <tbody>
	
    </tbody>
</table>
</div>
<script>

	var name = "<?php echo $_SESSION['username']; ?>".toString();
	var farm = "<?php echo $_SESSION['farm_name']; ?>".toString();
	
	document.getElementById("greeting").innerHTML="Welcome Farmer, "+name+" <br><span>"+farm+"</span>";
	</script>

</body>
</html>